<div class="row">
    <div class="col-9">
        <div class="text-white h3">
            <ng-container *ngIf="selectedRloc.id=='OrderId'"><span class="opacity-70">Order Id: </span>{{orderId}}</ng-container>
            <ng-container *ngIf="selectedRloc.id=='Firelogix'"><span class="opacity-70">Firelogix: </span>{{firelogixRloc}}</ng-container>
            <ng-container *ngIf="selectedRloc.id=='Airline'">
                <ng-container *ngFor="let airline of airlineRlocs">
                    <span class="opacity-70">{{airline.text}}: </span>{{airline.id}} &nbsp;
                </ng-container>
            </ng-container>
        </div>
        <div class="text-white-50" *ngIf="payments != null">Your Order has been confirmed  <i class="fas fa-check-circle text-success icon-xl"></i></div>
        <div class="text-white-50" *ngIf="payments == null">Your Order is on Hold  <i class="fas fa-pause-circle text-warning icon-xl"></i></div>
    </div>
    <div class="col-3 text-right">
        <span class="text-white pr-2">PNR Locator:</span>
        <mat-form-field class="rloc" appearance="fill">
            <mat-select (selectionChange)="selectedRlocChanged()" [(value)]="selectedRloc">
                <mat-option *ngFor="let rloc of rlocs" [value]="rloc" >
                    {{rloc.text}}
                </mat-option>
            </mat-select>
        </mat-form-field> 
    </div>
</div>