:host ::ng-deep .mat-input-element {
    font-size: 1.1rem;
}
:host ::ng-deep .mat-form-field {
    line-height: 2;
}
:host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 0.5em 0 0.5em 0;
}
:host ::ng-deep .mat-form-field-subscript-wrapper {
    font-size: 60%; top: calc(100% - 2.5em);
}
:host ::ng-deep .mat-form-field-infix {
    border-top: .5em;
}
:host ::ng-deep .mat-error {
    line-height: 1;
}
:host ::ng-deep .mat-form-field-label-wrapper {
    top: -0.5em;
    padding-top: 0.5em;
}
:host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-label {
    top: 1.2em;
    margin-top: .2em;
}
.card.card-custom > .card-header {
    height: 70px;
}