:host ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
    stroke: blueviolet !important;
}

.timeline.timeline-4 .timeline-items .timeline-item:after {
    top: 1.5rem;
}

.timeline.timeline-4 .timeline-items .timeline-item .timeline-badge {
    top: 2rem;
}

.price-ctrl p {
    margin-bottom: 0;
}

#tf-selector > * {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
}

#list-header {
    font-size: 1.25rem;
    font-weight: 500;
}

.first-column-width {
    width: 40%;
}

.flight-fare {
    display: flex;
    cursor: pointer;
    flex-direction: column;
    align-items: center;

    .cabin-type-container {
        display: flex;
        align-items: center;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1360px) {
    .first-column-width {
        width: 35%;
    }
}

@media screen and (max-width: 1200px) {
    .first-column-width {
        width: 30%;
    }
}

.first-column-width-r {
    width: 75%;
}

@media screen and (max-width: 1300px) {
    .first-column-width-r {
        width: 70%;
    }
}

@media screen and (max-width: 1200px) {
    .first-column-width-r {
        width: 65%;
    }
}
