<div *ngIf="isLoading" class="spinnerBg">
  <mat-spinner class="spinner" [diameter]="30"></mat-spinner>
</div>
<div *ngIf="!isLoading" class="d-flex flex-column-fluid">
  <!--begin::Container-->
  <div class="container">
    <!--begin::Dashboard-->
    <!--begin::Row-->
    <div class="row">
      <div class="col-12">
        <!--begin::Tiles Widget 1-->
        <div class="card card-custom gutter-b card-stretch rounded-xl">
          <!--begin::Header-->
          <div class="card-header border-0">
            <div class="card-toolbar">
              <h5 class="text-muted mb-0">Cruises from World's leading ports</h5>
            </div>
          </div>
          <!--end::Header-->
          <!--begin::Body-->
          <form #searchForm class="card-body pt-0 pl-6 pr-6">
            <div class="tab-content">
              <div class="tab-pane fade active show" id="lr_tab_pane_1" role="tabpanel">
                <div class="brdBigBlock">
                  <div class="brdBigBlock_inner">
                    <div #fromDiv id="fromCityDiv" (click)="clickChange('from')" class="searchCity">
                      <div class="searchContent">
                        <span class="search_lbl text-dark-50 pb-2">All Destinations</span>
                        <input (click)="clickChange('from')" *ngIf="click.from" id="fromCity" type="text" class="search_inputField h1 text-truncate from" readonly="" value="{{ getAirPortDisplayName(searchFormGroup.value.from) }}" title="{{ getAirPortDisplayName(searchFormGroup.value.from) }}">
                        <!-- <div class="form-group lessMlr-1">
                          <input type="text" class="form-control" placeholder="Place">
                        </div> -->
                        <div class="lessMlr-1" *ngIf="!click.from">
                          <mat-form-field appearance="outline" class="w-100">
                            <!-- <mat-label>Leaving From</mat-label> -->
                            <input #fromInput type="text" matInput [formControl]="searchFormGroup.get('from')" [matAutocomplete]="autoFrom"
                              [errorStateMatcher]="errorMatcher">
                            <mat-autocomplete (optionSelected)="fromChange($event)" #autoFrom="matAutocomplete" [displayWith]="displayFn">
                              <mat-option *ngFor="let option of filteredFromOptions | async" 
                                  [value]="option">
                                {{ (option.value || option.name) + '-' + (option.data || option.id || '') }}
                              </mat-option>
                            </mat-autocomplete>                           
                          </mat-form-field>
                        </div> 
                        <mat-error *ngIf="isSubmitted && searchFormGroup.get('from').hasError('required')">
                          Leaving From is <strong>required</strong>
                        </mat-error> 
                        <mat-error *ngIf="isSubmitted && searchFormGroup.hasError('fromSelected')">Please Select From</mat-error>                         
                      </div>
                    </div>
                    <div #toDiv id="toCityDiv" (click)="clickChange('to')" class="searchCity">
                      <div class="searchContent">
                        <span class="search_lbl text-dark-50 pb-2 to">All Depature Ports</span>
                        <input (click)="clickChange('to')" *ngIf="click.to" id="toCity" type="text" class="search_inputField h1 text-truncate to" readonly=""  value="{{ getAirPortDisplayName(searchFormGroup.value.to) }}" title="{{ getAirPortDisplayName(searchFormGroup.value.to) }}">
                        <!-- <div class="form-group lessMlr-1">
                          <input type="text" class="form-control" placeholder="Place">
                        </div> -->
                        <div class="lessMlr-1" *ngIf="!click.to">
                          <mat-form-field appearance="outline" class="w-100">
                            <!-- <mat-label>Going To</mat-label> -->
                            <input #toInput type="text" matInput [formControl]="searchFormGroup.get('to')" [matAutocomplete]="autoTo"
                              [errorStateMatcher]="errorMatcher">
                            <mat-autocomplete (optionSelected)="toChange($event)"  #autoTo="matAutocomplete" [displayWith]="displayFn">
                              <mat-option *ngFor="let option of filteredToOptions | async" 
                                [value]="option">
                                {{ (option.value || option.name) + '-' + (option.data || option.id || '') }}
                              </mat-option>
                            </mat-autocomplete>                            
                          </mat-form-field>
                        </div> 
                        <mat-error *ngIf="isSubmitted && searchFormGroup.get('to').hasError('required')">
                          Going To is <strong>required</strong>
                        </mat-error>
                        <mat-error *ngIf="isSubmitted && searchFormGroup.hasError('toSelected')">Please Select To</mat-error>
                        <mat-error *ngIf="isSubmitted && searchFormGroup.hasError('toFromMatch')">To and From are Same</mat-error>
                      </div>
                    </div>
                    <div (click)="clickChange('start')" class="searchDate">
                      <div id="startDate" class="searchContent">
                        <span class="search_lbl text-dark-50 pb-2 from">Select Month <i
                            class="far fa-calendar-alt text-primary"></i></span>
                        <div (click)="clickChange('start')" *ngIf="click.start" class="search_inputField h1">
                          Oct
                          <span class="search_inputField display6">2020</span>
                        </div>
                        <!-- <div class="form-group lessMlr-1">
                          <input type="text" class="form-control" placeholder="Place">
                        </div> -->
                        <div class="lessMlr-1" *ngIf="!click.start">
                          <mat-form-field class="w-100" appearance="outline">
                            <!-- <mat-label>Depature</mat-label> -->
                            <input matInput [min]="minToDate" [max]="maxToDate" 
                              (click)="picker1.open()" [errorStateMatcher]="errorMatcher"
                              [matDatepicker]="picker1" [formControl]="searchFormGroup.get('start')"
                              (dateChange)="startDateChange('change', $event)">
                            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                            <mat-datepicker #picker1></mat-datepicker>                
                          </mat-form-field>
                        </div>
                        <mat-error *ngIf="isSubmitted && searchFormGroup.get('start').hasError('required')">
                          Depature Date is <strong>required</strong>
                        </mat-error>
                      </div>
                    </div>
                    <div class="searchDate">
                      <div class="searchContent">
                        <span class="search_lbl text-dark-50 pb-2">Cruise Length
                          <i class="fas fa-angle-down text-primary"></i></span>
                        <div id="fromCity" class="search_inputField h2">3-5
                          <span class="display6">Nights</span>
                        </div>
                        <div class="card card-custom popoverCustom1 w-auto d-none">
                          <div class="card-body p-5">
                            <div class="d-flex align-items-center justify-content-between p-4 flex-lg-wrap flex-xl-nowrap">
                              <div class="d-flex flex-row">
                                <div class="form-group mb-0 mr-3">
                                  <label class="font-size-h5 mb-0">Adults</label>
                                  <p class="font-size-sm text-dark-50 mb-1">&nbsp;</p>
                                  <input type="email" class="form-control" placeholder="Enter email">
                                </div>
                                <div class="form-group mb-0 mr-3">
                                  <label class="font-size-h5 mb-0">Childrens</label>
                                  <p class="font-size-sm text-dark-50 mb-1">Between (2y - 17y)</p>
                                  <input type="email" class="form-control" placeholder="Enter email">
                                </div>
                                <div class="form-group mb-0 mr-3">
                                  <label class="font-size-h5 mb-0">Infants</label>
                                  <p class="font-size-sm text-dark-50 mb-1">Below (2y)</p>
                                  <input type="email" class="form-control" placeholder="Enter email">
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="card-footer bg-dark-o-40 p-5">
                            <div class="d-flex justify-content-end">
                              <button type="button" class="btn btn-primary btn-pill mr-3">Apply</button>
                            </div>
                          </div>
                        </div>
                        <div class="form-group lessMlr-1 d-none">
                          <input type="text" class="form-control" placeholder="Place">
                        </div>
                      </div>
                    </div>
                    <div>
                      <div #travellersDiv (click)="clickChange('count')" class="searchContent">
                        <span class="search_lbl text-dark-50 pb-2">Cruise Lines <i
                            class="fas fa-angle-down text-primary"></i></span>
                        <div *ngIf="click.count" id="count" class="search_inputField h2 count">Please Select</div>
                        <!--Begin Traveller::Count-->
                        <!-- <div #countPopupDiv *ngIf="!click.count" class="card card-custom popoverCustom1 w-auto">
                          <div class="card-body p-5">
                            <div class="d-flex align-items-center justify-content-between p-4 flex-lg-wrap flex-xl-nowrap">
                              <div class="d-flex flex-row">
                                <div class="form-group mb-0 mr-3">
                                  <label class="font-size-h5 mb-0">Adults</label>
                                  <p class="font-size-sm text-dark-50 mb-1">&nbsp;</p>
                                  <mat-form-field class="w-100" appearance="outline">
                                    <mat-select #travellersSelect [formControl]="searchFormGroup.get('adults')">
                                      <mat-option *ngFor="let number of numbers" [value]="number">
                                        {{number}}
                                      </mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="isSubmitted && searchFormGroup.get('adults').hasError('required')">Please choose a number</mat-error>
                                  </mat-form-field>
                                </div>
                                <div class="form-group mb-0 mr-3">
                                  <label class="font-size-h5 mb-0">Childrens</label>
                                  <p class="font-size-sm text-dark-50 mb-1">Between (2y - 17y)</p>
                                  <mat-form-field class="w-100" appearance="outline">
                                    <mat-select #travellersSelect [formControl]="searchFormGroup.get('childrens')">
                                      <mat-option *ngFor="let number of wholeNumbers" [value]="number">
                                        {{number}}
                                      </mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="isSubmitted && searchFormGroup.get('childrens').hasError('required')">Please choose a number</mat-error>
                                  </mat-form-field>
                                </div>
                                <div class="form-group mb-0 mr-3">
                                  <label class="font-size-h5 mb-0">Infants</label>
                                  <p class="font-size-sm text-dark-50 mb-1">Below (2y)</p>
                                  <mat-form-field class="w-100" appearance="outline">
                                    <mat-select #travellersSelect [formControl]="searchFormGroup.get('infants')">
                                      <mat-option *ngFor="let number of wholeNumbers" [value]="number">
                                        {{number}}
                                      </mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="isSubmitted && searchFormGroup.get('infants').hasError('required')">Please choose a number</mat-error>
                                  </mat-form-field>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="card-footer bg-dark-o-40 p-5">
                            <div class="d-flex justify-content-end">
                              <button (click)="countChange(null)" type="button" class="btn btn-primary btn-pill mr-3">Apply</button>
                            </div>
                          </div>
                        </div> -->
                        <!--End Traveller::Count-->
                        <div class="lessMlr-1" *ngIf="!click.count">
                          <mat-form-field class="w-100" appearance="outline">
                            <mat-select #travellersSelect (selectionChange)="countChange($event.value)" [formControl]="searchFormGroup.get('count')">
                              <mat-option *ngFor="let number of numbers" [value]="number">
                                {{number}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                        <mat-error *ngIf="isSubmitted && searchFormGroup.get('count').hasError('required')">Please choose a number</mat-error>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="d-flex justify-content-center pt-5">
                <button (click)="serach()" type="button" class="btn btn-primary btn-pill btn-lg colorBg font-size-h3 w-200px btn-shadow">
                  Search <i class="far fa-arrow-alt-circle-right"></i>
                </button>
              </div>
              <div class="tab-pane fade" id="lr_tab_pane_2" role="tabpanel">Lorem Ipsum passages, and more recently with
                desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. Lorem Ipsum
                passages, and more recently with desktop publishing software like Aldus PageMaker including versions of
                Lorem Ipsum. Lorem Ipsum passages, and more recently with desktop publishing software like Aldus
                PageMaker including versions of Lorem Ipsum.</div>
            </div>
          </form>
          <!--end::Body-->
        </div>
        <!--end::Tiles Widget 1-->
      </div>
    </div>
    <!--end::Row-->
    <!--end::Dashboard-->
  </div>
  <!--end::Container-->
</div>