  <table mat-table [dataSource]="orderViewModel.passengers" class="mat-elevation-z8">
    <ng-container matColumnDef="Index">
      <th mat-header-cell *matHeaderCellDef> # </th>
      <td mat-cell *matCellDef="let element; let i = index"> {{element.label}} </td>
    </ng-container>

    <ng-container matColumnDef="Name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{ getName(element.data) }} </td>
    </ng-container>

    <ng-container matColumnDef="Gender">
        <th mat-header-cell *matHeaderCellDef> Gender </th>
        <td mat-cell *matCellDef="let element"> {{element.data.individual.gender}} </td>
      </ng-container>

    <ng-container matColumnDef="DOB">
      <th mat-header-cell *matHeaderCellDef> DOB </th>
      <td mat-cell *matCellDef="let element"> {{element.data.individual.birthdate | date:'mediumDate'}} </td>
    </ng-container>

    <ng-container matColumnDef="TicketNo">
      <th mat-header-cell *matHeaderCellDef> Ticket No </th>
      <td mat-cell *matCellDef="let element"> {{ element.ticketNo }}</td>
    </ng-container>
                              
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>