.count-popover{
    top: 75px;
    left: 15px;
    min-width: 350px;
    box-shadow: 0px 4px 20px rgb(0 0 0 / 15%) !important;
}

.max-width-150{
    max-width: 150px;
}

.max-width-350{
    max-width: 350px;
}

.form-group{
    margin-bottom: 0;
}
::ng-deep.mat-form-field-wrapper {
    padding-bottom: 0.5em;
}
.relative{
    position: relative;
}